openapi: "3.0.0"
info:
  version: '0.0.1'
  title: QueerGlobal Resources API
  description: An api for the QueerGlobal system
  termsOfService: http://swagger.io/terms/
  contact:
    name: Swagger API Team
    email: apiteam@swagger.io
    url: http://swagger.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://queerglobal.com/api
paths:
  /healthcheck:
    get:
      summary: Healthcheck for this API
      description: Healthcheck for server status
      operationId: InternalHealthCheck
      responses:
        '200':
          description: Response to healthchecks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HealthCheckResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /resources/{id}:
    get:
      summary: Returns a resource by ID
      description: Returns a resource based on a single ID
      operationId: FindResourceById
      parameters:
        - name: id
          in: path
          description: ID of resource to fetch
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: resource response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Deletes a resource by ID
      description: deletes a single resource based on the ID supplied
      operationId: delete resource
      parameters:
        - name: id
          in: path
          description: ID of resource to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: resource deleted
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update a resource
      description: Updates resource. Duplicates are allowed
      operationId: UpdateResource
      parameters:
        - name: id
          in: path
          description: ID of resource to delete
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Resource to update to the page
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /resources:
    post:
      summary: Creates a new resource
      description: Creates a new resource. Duplicates are allowed
      operationId: AddResource
      requestBody:
        description: Resource to add to the page
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: Returns resources based on query strings
      description: Returns resources based on query strings
      operationId: FindResources
      parameters:
        - name: tags
          in: query
          description: tags to filter by
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
        - name: primarycategoryID
          in: query
          description: ID of category to fetch
          required: false
          schema:
            type: integer
            format: int64
        - name: categoryID
          in: query
          description: ID of category to fetch
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          description: maximum number of results to return
          required: false
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: page number of to return
          required: false
          schema:
            type: integer
            format: int32

      responses:
        '200':
          description: resource response
          content:
            application/json:
              schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/ResourceResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    HealthCheckResponse:
      type: object
      required: 
        - status
        - serviceName
      properties: 
        status: 
          type: string
        serviceName:
          type: string

    ResourceSummary:
      type: object
      required:
        - Type
        - Title
        - Header
      properties: 
        ResourceID:
          type: integer
          format: int64
        Owner:
          type: integer
          format: int64
        Type:
          type: string
        Header:
          type: string
        Title:
          type: string
        Status:
          type: integer
          format: int32
          minimum: 1
          maximum: 255
          default: 1

    Resource:
      type: object
      properties: 
        ResourceID:
          type: integer
          format: int64
        Summary:
          type: object
          $ref: '#/components/schemas/ResourceSummary'
        Body:
          type: string
        Objects:
          type: array
          items:
            $ref: '#/components/schemas/Object'
        Categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        Chips: 
          type: array
          items:
            $ref: '#/components/schemas/Chip'
        

    ResourceResponse:
      type: object
      required:
        - ResourceID
        - Status
      properties: 
        ResourceID:
          type: integer
          format: int64
        Status:
          type: string

    Object:
      type: object
      required:
        - ObjectTypeID
        - Object
      properties: 
        ObjectID:
          type: integer
          format: int64
        ObjectName:
          type: string
        ObjectType:
          type: string
        ObjectTypeID:
          type: integer
          format: int64
        Object:
          type: object


    Chip:
      required:
        - value
      properties:
        id:
          type: number
          format: int64
        value:
          type: string


    Category:
      type: object
      required:
        - CategoryName 
      properties: 
        CategoryID:
          type: integer
          format: int64
        CategoryName:
          type: string
        CategoryDescription:
          type: string

    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int64
          description: Error code
        message:
          type: string
          description: Error message
